{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}

{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static' , filename='css/mystyle.css')}}">
<link rel="stylesheet" href="{{url_for('.static' , filename='css/formstyle.css')}}">
<link rel="stylesheet" href="{{url_for('.static' , filename='aos/dist/aos.css')}}">

{% endblock %}

{% block content %}
  
    

    <footer class="copyright"><p  align="center"> Copyright © 2020 ,By Preview-Lab. </p></footer>
{% endblock %}



{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='aos/dist/aos.js')}}"></script>
    <script type="text/javascript"> 
		AOS.init({
			easing: 'ease-in-out-sine'
		})
  </script>
{% endblock %}